@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);

:root {
  --background: #f7f1ff;
  --foreground: #171717;
}

.bg-grid {
  width: 100%;
  height: 100%;
  --color: #E1E1E1;
  background-color: #F3F3F3;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage-grotesque), ui-sans-serif, system-ui, sans-serif;
  font-size: 19px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-fraunces), serif;
}

h1 {
  font-size: 4.5rem;
  letter-spacing: -0.03em;
}